body {

    box-sizing: border-box;
    background: radial-gradient(ellipse, green, white, green, white, green), url(./image/3426526.jpg);
    /* width: fit-content;
    height: fit-content;  */
    object-fit: contain;
    background-blend-mode: darken;

}

.move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

h2 {
    color: red;
}

button {
    
    color: whitesmoke;
    background-color: rgb(3, 0, 0);
    width: 150%;
    border-radius: 15px;
    position: relative;
    right: 20%;
    padding: 7px 0;
    text-shadow: 1.5px 3px 5px white;

}

